@font-face {
 font-family: 'FontRegular';
 src: url('./fonts/HKGrotesk-Regular.ttf') format('opentype');
}
@font-face {
 font-family: 'FontLight';
 src: url('./fonts/HKGrotesk-Light.ttf') format('opentype');
}

body {
  font-family: 'FontRegular', sans-serif !important;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

a {
  outline: none;
}